* {
    color: white;
    margin:0;
    padding: 0%;
    box-sizing: content-box;
}

header {
    background-color: rgb(109, 201, 109);
    display: block;
    width: auto;
    height: 180px;
    text-align: center;
}

nav {
    display:block;
    margin-top: 60px;
    background-color: green;
    text-align: center;
}

main {
    background-color: red;
    text-align: center;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
}

article {
    color: black;
    background-color: white;
    text-align: center;
    display: block;
    margin: auto;
    width: 50%;
    height:  120px;
    margin-top: 50px
}

aside {
    color: aliceblue;
    background-color: orange;
    text-align: center;
    height: 54.82%;
}

#asideLeft  {
    position:fixed;
    display: block;
    width: 24%;
}

#asideRight  {
    position:fixed;
    display: block;
    width: 24%;
    left: 76%;
    top: 180px;

}

footer {
    background-color: purple;
    text-align: center;
}