body{
    background: rgb(75,75,210);
    background: linear-gradient(90deg, rgba(75,75,210,1) 0%, rgba(19,116,235,1) 51%, rgba(0,212,255,1) 100%);
}

.Signature{
    margin-bottom: 10em;
}

.Tanjiro{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav span{
    padding: 0 5% 0 5%;
}